<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/dce80cfb-4042-4677-ac2f-19f456ee2fa9/resourceGroups/reservas/providers/Microsoft.Web/sites/ReservaAPI</ResourceId>
    <ResourceGroup>reservas</ResourceGroup>
    <SiteUrlToLaunchAfterPublish>https://reservaapi-fhewg3c9exc2fndf.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <PublishUrl>https://reservaapi-fhewg3c9exc2fndf.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <ProjectGuid>b0f04156-05a9-479e-b9bb-69a89b139d2c</ProjectGuid>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>
