<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reservaapi-fhewg3c9exc2fndf.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dce80cfb-4042-4677-ac2f-19f456ee2fa9/resourceGroups/reservas/providers/Microsoft.Web/sites/ReservaAPI</ResourceId>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://reservaapi-fhewg3c9exc2fndf.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>
